<html>
<head>
	<title></title>
</head>
<body>
<h1 style="text-align: center;"><span style="color:#0000FF;"><span style="font-family: &quot;Courier New&quot;, courier;">Welcome to Plasma Donor Application</span></span></h1>

<p style="text-align: center;"><span style="color:#FF0000;"><strong>{{ msg }}</strong></span></p>

<div class="login"><!-- Main Input For Receiving Query to our ML -->
<form action="{{ url_for('loginpage')}}" method="post">
<p style="text-align: center;"><input name="username" placeholder="Enter UserName" required="required" style="color:black" type="text" /></p>

<p style="text-align: center;"><input name="password" placeholder="Enter Password" required="required" style="color:black" type="password" /></p>

<p style="text-align: center;"><button class="btn btn-primary btn-block btn-large" type="submit">Login</button></p>
</form>

<p style="text-align: center;"><em><strong>If you are visiting for the first time -</strong></em>&nbsp;<a href="/registration" style="text-align: center;">Sign Up</a></p>
</div>

</body>
</html>