* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
}

.register {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    position: relative;
    left: 60%;
}

.register h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.register form {
    font-size: 15px;
}

.register form .form-group {
    margin-bottom: 12px;
}

.register form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

.register form select[id="blood_group"] {
    width: 320px;
}

.img {
    content: url('https://cdn.pixabay.com/photo/2021/03/02/11/46/heart-6062177_960_720.png');
    width: 500px;
    height: 500px;
    left: 10%;
    position: absolute;
}